<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @audio.project %>
</p>

<p>
  <strong>Time:</strong>
  <%= @audio.time %>
</p>

<p>
  <strong>Start:</strong>
  <%= @audio.start %>
</p>

<p>
  <strong>Text:</strong>
  <%= @audio.text %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
