<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scene.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scene.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @scene.project %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @scene.image_url %>
</p>

<p>
  <strong>Time:</strong>
  <%= @scene.time %>
</p>

<p>
  <strong>Start:</strong>
  <%= @scene.start %>
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
