<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Facebook</th>
      <th>Name</th>
      <th>Email</th>
      <th>Avatar url</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.facebook_id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.avatar_url %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
