<%= form_for(@storyboard) do |f| %>
  <% if @storyboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storyboard.errors.count, "error") %> prohibited this storyboard from being saved:</h2>

      <ul>
      <% @storyboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
