<h1>Listing storyboards</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storyboards.each do |storyboard| %>
      <tr>
        <td><%= storyboard.image_url %></td>
        <td><%= link_to 'Show', storyboard %></td>
        <td><%= link_to 'Edit', edit_storyboard_path(storyboard) %></td>
        <td><%= link_to 'Destroy', storyboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storyboard', new_storyboard_path %>
