<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @storyboard.image_url %>
</p>

<%= link_to 'Edit', edit_storyboard_path(@storyboard) %> |
<%= link_to 'Back', storyboards_path %>
