<h1>Listing uploads</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Scene</th>
      <th>Video url</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.user %></td>
        <td><%= upload.scene %></td>
        <td><%= upload.video_url %></td>
        <td><%= upload.image_url %></td>
        <td><%= link_to 'Show', upload %></td>
        <td><%= link_to 'Edit', edit_upload_path(upload) %></td>
        <td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upload', new_upload_path %>
