<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @upload.user %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @upload.scene %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @upload.video_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @upload.image_url %>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
