<h1>Listing texts</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Time</th>
      <th>Start</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= text.project %></td>
        <td><%= text.time %></td>
        <td><%= text.start %></td>
        <td><%= text.text %></td>
        <td><%= link_to 'Show', text %></td>
        <td><%= link_to 'Edit', edit_text_path(text) %></td>
        <td><%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text', new_text_path %>
