<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @text.project %>
</p>

<p>
  <strong>Time:</strong>
  <%= @text.time %>
</p>

<p>
  <strong>Start:</strong>
  <%= @text.start %>
</p>

<p>
  <strong>Text:</strong>
  <%= @text.text %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
